@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    min-height: 100vh;
    min-width: 350px;

}
*{
    box-sizing: border-box;
    
}
#sortbox:checked ~ #sortboxmenu {
    opacity: 1;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: lightgray;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background:#222222;
    border-radius: 10px;
}
